<!-- <h6>Group#index</h6>
<p>Find me in app/views/group/index.html.erb</p> -->
<%#= link_to "New", new_group_path %>
<h5>Hi <%= current_user.name %></h5>
<div class="col-md-12">
<%=  form_for  @group do |f| %>
<%= f.text_field :name%>
<%= f.submit("create group") %>
<% end %>

<div class="">
  <h5>Your Groups:</h5>
<!-- use ajax to real time update the group names -->
  <% @groups.each do |group| %>
  <%gp_name=group.name%>
  <%gp_id=group.id%>
  <%gp_name=gp_name.chomp%>
    <div id="<%=gp_name%>">
      <%=gp_name%>
    <%= link_to "View", group_path(group) %>
      <%= link_to "Delete", group_path(group), method: :delete, remote:true %>
      <%= link_to "Edit", edit_group_path(group) %>

    </div>
    
        <% members = group.users.all %>
      <p>  Group members:<br/>
        <% members.each do |mbr| %>
            <%=  mbr.name %> <br/>
        <% end%></p>
      </div>
    <% end%>

  </div>
  <div class=" gp_noti notifications"><h5>Notifications:</h5>
  <!-- <div class="notifications">Notifications</div> -->

  </div>
</div>
