<!DOCTYPE html>
<html>
  <head>
    <title>Project3</title>
    <%= Gon::Base.render_data %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%# <button class="navbar-brand bg-light" type="button" style="border:none;">
          Profile
        </button>
        %>

        <% if user_signed_in? %>

        <% end %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarElements" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarElements">
          <ul class="navbar-nav mr-auto container-fluid">
            <li class="nav-item mr-auto">
              <%= link_to "Convene", root_path, class:"navbar-brand" %>
            </li>
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Groups", groups_path, class:"nav-link", method:"get" %>
            </li>
            <li class="nav-item">
              <button class="nav-link btn btn-light" type="button" data-toggle="collapse" data-target="#profileDetails" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                Profile
              </button>
            </li>
            <div>

              <li class="nav-item">
                <%= link_to "Logout", destroy_user_session_path, class:"nav-link", id:"logout", method:"delete" %>
              </li>
              <% else %>
              <li class="nav-item">
                <%= link_to "Register", new_user_registration_path, class:"nav-link", id:"register" %>
              </li>
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class:"nav-link", id:"login" %>
              </li>
            </div>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <main class="d-flex flex-column">
      <div class="container-fluid">
        <div class="row">
          <% if user_signed_in? %>
          <div class="d-flex flex-column col-3 p-0 bg-light" id="groups">
            <%= render "layouts/profile" %>
            <%= render "layouts/groups" %>
          </div>
          <% end %>
          <div class="d-flex flex-column col p-0" id="main">
          <%= yield %>
          </div>
        </div>
      </div>
    </main>

    <footer>

    </footer>
    <%= stylesheet_link_tag "style" %>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["G_MAP_API_KEY"]%>&callback=initMap&libraries=places">
    </script>
  </body>
</html>
