<!DOCTYPE html>
<html>
  <head>
    <title>Project3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <header>
      <nav class="d-flex justify-content-between navbar navbar-dark bg-dark">

        <div>
          <button class="navbar-toggler" id="navbarSideButton" type="button">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand px-3" href="/">Convene</a>
        </div>


        <!-- register and login (right side) -->
        <div>
          <ul class="d-flex flex-row navbar-nav">
            <% if user_signed_in? %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-item mx-3 nav-link'  %>
            <% else %>
            <li class="nav-item mx-3"><a class="nav-link" href="/users/sign_up">Register</a></li>
            <li class="nav-item mx-3"><a class="nav-link" href="/users/sign_in">Login</a></li>
            <% end %>

          </ul>
        </div>
      </nav>
    </header>

    <main class="d-flex flex-row">

      <div class="d-flex flex-column" id="profilePane">
        <div class="card">
          <%= image_tag 'profile-placeholder.jpg', class: "card-img-top", alt: "profile-placeholder.jpg" %>
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>

      <div class="overlay"></div>

      <div class="d-flex flex-column hidden" id="groupPane">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>

      <div class="d-flex flex-column" id="contentPane">

        <div class="d-flex flex-column" id="topPane">
          <div class="d-flex flex-column" id="alerts">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          </div>
          <%= yield %>
        </div>


        <div class="d-flex flex-column" id="bottomPane">
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
          </div>
        </div>

      </div>
    </main>

    <footer>

    </footer>
    <%= stylesheet_link_tag "style" %>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtls_8SnwncIqfBSaWIrrMEf7_7klTcxY&callback=initMap">
    </script>
  </body>
</html>
